body {
    font-family: fantasy;
    font-size: 14pt;
}
h1 {
    text-align: center;
    font-size: 44pt;
    font-weight: bold;
    padding: 100ox;
    margin: 80px;
    color: steelblue;

}
.btn{
    align-content: center;
    background-color: steelblue;
    border:steelblue;
    font-size: 16pt;
}


.header .btn {
    width: 100%;
    padding-right: 100pt;
    padding-left: 100pt;

}
.card-header {
    background: steelblue;
    color:white;
    font-size: 20pt;
}

h2 {
    background-color:steelblue;
    color: white;
    font-weight: bold;
    padding: 30px;
    font-size: 32pt;
}

h5 {
    font-size: 24pt;
    color: steelblue;
}

#timer {
    border: 2px dashed steelblue;
    border-radius: 12pt;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;

}
#highScore {
    border: 2px dashed steelblue;
    border-radius: 12pt;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;

}

#rightAnswer {
    color: steelblue;
    align-content: center;
    text-align: center;
    font-weight: bold;
    border-color: steelblue;
    border-style: dashed;
    border-width: medium;
    border-radius: 14 px;
    width: 100%;
    padding: 15px;
    margin: 15px;
    margin-right: 30px;

    font-size: 20pt;
}